.paper_Score{
    margin: 0 0 0 2px; 
    
}

.div__Score{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    background-color: gray;
    height: 11.3vh;
    padding: 0 30px 0 10px;
}