.paper_Score{
    margin: 0 0 0 2px; 
    
}

.div__Score{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    background-color: gray;
    height: 10.9vh;
}