.ButtonClick{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    /* background-color: silver; */
}

.ButtonLevelUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}