.ButtonClick{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    /* background-color: rgb(212, 209, 209); */
}

.ButtonLevelUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.img__Click{
    width: 90%;
    height: 90%;
}